/* Imported Typefaces */

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.woff2') format('woff2'),
         url('fonts/Montserrat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefinslab';
    src: url('fonts/Josefinslab.woff2') format('woff2'),
         url('fonts/Josefinslab.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* General Typography Styles */

html {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Josefinslab', sans-serif;
    font-size: 60px;
    margin: 1.125rem 0; /* 18px in rem units */
    text-align: center;
}

h2 {
    font-family: 'Josefinslab', sans-serif;
    font-size: 24px;
}

p, li {
    font-size: 12px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}

h2 + p {
    text-indent: 24px;
}

figcaption {
    font-size: 12px;
    margin-bottom: 32px;
}

/* Style the Links */

a {
    text-decoration: none;
    color: #33658A;
    outline: none;
}

a:link, a:visited {
    color: #33658A;
}

a:focus, a:hover {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;
}

/* Style the Lists */

ul, ol {
    margin: 1rem 0; /* 16px in rem units */
    padding: 0;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: lower-alpha;
}

.long-list a:hover {
    text-transform: uppercase;
}

/* Style the Navigation Menu */

nav {
    padding-left: 0;
    margin-top: 0.25rem; /* 4px in rem units */
}

nav a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-size: 18px;
    margin-bottom: 1.5rem; /* 24px in rem units */
    border: 1px solid #33658A;
}

nav a:hover, nav a:focus {
    color: #FFF;
    background-color: #33658A;
}

nav a:active {
    color: #FFF;
    background-color: #000;
}

/* Style the Footer */

footer {
    text-align: center;
}
